<!DOCTYPE balsa SYSTEM "http://balsa.intrbiz.net/balsa.dtd">
<?RenderLibrary com.intrbiz.balsa?>
<!-- The index view -->
<fragment xmlns="com.intrbiz.balsa" title="Web Routes">
    
    <div clas="row">
    	<div class="col12">
			<table>
				<tr>
					<th>Method</th>
					<th>Prefix</th>
					<th>Path</th>
					<th>As</th>
					<th>Param</th>
				</tr>
				<data-set var="route" value="#{routes}">
					<tr>
						<td>#{route.method}</td>
						<td>#{route.prefix}</td>
						<td>#{route.pattern}</td>
						<td>
							<ul>
								<data-set var="as" value="#{route.as}">
									<li>#{as}</li>
								</data-set>
							</ul>
						</td>
						<td>
							<ul>
								<data-set var="param" value="#{route.parameters}">
									<li>#{param.name} :: #{param.type.getSimpleName()}</li>
								</data-set>
							</ul>
						</td>
					</tr>
					<tr rendered="#{route.prefix.startsWith('/api')}">
						<td colspan="5">
							<pre>#{route.buildRouteAPICall()}</pre>
						</td>
					</tr>
				</data-set>
			</table>
		</div>
   	</div>
    
</fragment>