bergamot-ui/src/main/public/js/*/bower_components/ace-builds  linguist-vendored
bergamot-ui/src/main/public/js/*/bower_components/es5-shim    linguist-vendored
bergamot-ui/src/main/public/js/*/bower_components/flight      linguist-vendored
bergamot-ui/src/main/public/js/*/bower_components/jquery      linguist-vendored
bergamot-ui/src/main/public/js/*/bower_components/raphael     linguist-vendored
bergamot-ui/src/main/public/js/*/bower_components/requirejs   linguist-vendored
