* {
	padding: 0;
	margin: 0;
}

html {
    overflow-y: scroll;
    padding-bottom: 50px;
}

body {
	font-family: 'Open Sans',sans-serif;
	font-size: 16px;
	color: #2c2c2c;
	/* background-color: #FFFAF1; */
    background-color: #FBFFFA;
}

a, a:visited, a:active {
	color: #2c2c2c;
	text-decoration: underline;
	outline: none;
}

a:hover {
    color: #004D00;
    text-decoration: underline;
    outline: none;
}

h1 {
	font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 20px;
}

ul {
	list-style: none;
}

table {
	border-collapse: collapse;
}

table th, table td {
	padding: 5px 10px;
	border: 1px solid #CCC;
}

table th {
	background-color: #2c2c2c;
	color: #FFF;
	border-bottom: 2px solid #CCC;
}

table tr:nth-child(odd) {
	background-color: #EEEEEE;
}

table tr:hover {
	background-color: #FFFFBF;
}

#header {
	height: 50px;
	background-color: #2c2c2c;
	color: #00BF00;
	border-bottom: 4px solid #00BF00;
}

#header h1 {
	font-size: 20px;
	padding: 10px 0;
	font-weight: bold;
}

#header a, #header a:visited, #header a:active, 
#sub-menu a, #sub-menu a:visited, #sub-menu a:active {
	color: #00BF00;
	text-decoration: none;
}

#header a:hover, 
#sub-menu a:hover {
    color: #00FF00;
    text-decoration: none;
}

#header #logo {
	width: 300px;
}

#show-menu {
    display: block;
    text-indent: 10000px;
    width: 32px;
    height: 30px;
    background: transparent url('menu.png') no-repeat;
    position: absolute;
    top: 10px;
    right: 10px;
    overflow: hidden;
}

#welcome {
    display: block;
    height: 30px;
    position: absolute;
    top: 15px;
    right: 60px;
    overflow: hidden;
}

#sub-menu {
    background-color: #2c2c2c;
    color: #00BF00;
    border-bottom: 4px solid #00BF00;
    z-index: 1000;
    position: absolute;
    top: 50px;
    left: 0px;
    width: 100%;
    visibility: hidden;
    padding-bottom: 10px;
}

#sub-menu ul {
    float: right;
    margin: 0 20px;
}

#content {
	padding-top: 15px;
}

.container {
	width: 435px;
	margin: 0 auto;
	position: relative;
}

.row {
	float: left;
	width: 435px;
	margin-bottom: 20px;
}

/* Resizing */

@media (min-width: 870px) and (max-width: 1304px) {
	.row {
		width: 870px;
	}
	.container {
		width: 870px;
	}
}

@media (min-width: 1305px) and (max-width: 1739px) {
	.row {
		width: 1305px;
	}
	.container {
		width: 1305px;
	}
}

@media (min-width: 1740px) and (max-width: 19200px) {
	.row {
		width: 1740px;
	}
	.container {
		width: 1740px;
	}
}

/* */

.col1 {
	float: left;
	width: 135px;
	padding: 5px;
}

.col2 {
	float: left;
	width: 280px;
	padding: 5px;
}

.col3 {
	float: left;
	width: 425px;
	padding: 5px;
}

.col4 {
	float: left;
	width: 570px;
	padding: 5px;
}

.col5 {
	float: left;
	width: 715px;
	padding: 5px;
}

.col6 {
	float: left;
	width: 860px;
	padding: 5px;
}

.col7 {
	float: left;
	width: 1005px;
	padding: 5px;
}

.col8 {
	float: left;
	width: 1150px;
	padding: 5px;
}

.col9 {
	float: left;
	width: 1295px;
	padding: 5px;
}

.col10 {
	float: left;
	width: 1440px;
	padding: 5px;
}

.col11 {
	float: left;
	width: 1585px;
	padding: 5px;
}

.col12 {
	float: left;
	width: 1740px;
	padding: 5px;
}

/* */

.row6 {
	display: block;
	float: left;
	width: 860px;
	/*margin-bottom: 10px;*/
}

.row6 .col1 {
	float: left;
	width: 125px;
	padding: 5px;
	display: block;
}

.row6 .col2 {
	float: left;
	width: 275px;
	padding: 5px;
	display: block;
}

.row6 .col3 {
	float: left;
	width: 415px;
	padding: 5px;
	display: block;
}

.row6 .col4 {
	float: left;
	width: 560px;
	padding: 5px;
}

/* */

.submenu a {
	padding: 2px 5px;
}

.submenu.pull-right a {
	float: right;
}

/* State colours */

.dash_img.ok, .dash_img.up {
	background-color: #00BF00 !important;	
}

.dash_img.warning {
	background-color: #F3C300 !important;
}

.dash_img.critical, .dash_img.down {
	background-color: #E85752 !important;	
}

.dash_img.unknown, .dash_img.error, .dash_img.timeout {
	background-color: #A3007B !important;
}

/* icons */

.dash_icon {
    position: relative;
    border-radius:  10px;
    padding-top:    16px;
    padding-bottom: 16px;
    line-height:    20px;
}

a:hover .dash_icon {
    background-color: #D9E1D9;
}

.dash_icon h3 {
    float: left;
    width: 100%;
    font-size: 24px;
    margin: 0 0 10px 0;
}

.dash_icon h3 .dash_img {
    display: block;
    width: 64px;
    height: 64px;
    border-radius: 8px;
    box-shadow: 0px 3px 6px #747474;
    float: left;
    background-color: #DDD;
}

.dash_icon h3 > span {
    display: block;
    float: left;
    margin: 5px 0 0 10px;
    width: 341px;
}

.dash_icon h3 > span.name {
	line-height: 32px;
}

.dash_icon > p {
    display: block;
    float: left;
    margin: 5px 0 0 0;
    height: 25px;
}

.dash_icon > p.output {
    height: 80px;
    overflow: hidden;
}

.dash_icon p > span,
.dash_icon p > a > span {
    display: block;
    float: left;
    margin: 5px 0 0 10px;
}

.dash_icon p span.label {
    width: 120px;
    font-weight: bold;
}

.dash_icon p span.label.wide {
    width: 240px;
}

.dash_icon p span.value {
    width: 270px;
}

.dash_icon p a span.value {
	text-decoration: underline;
}

.dash_icon p span.value.single {
    width: 560px;
}

span.info {
	background-color: #EEE;
	border-radius: 3px;
	padding: 0px 4px;
}

span.indent {
	text-indent: 20px;
}

#login-box {
	/*background-color: #f5f5f5;*/
	border-radius: 4px;
	padding: 10px 20px;
	width: 360px;
	margin: 50px auto 0px auto;
}

#login-box form {
	margin: 10px 0;
}

#login-box input[type=text], #login-box input[type=password] {
	width: 340px;
	margin: 5px 0;
	font-size: 16px;
	padding: 5px;
}

#login-box input[type=submit] {
	width: 100px;
	font-size: 16px;
	font-weight: bold;
	margin-top: 5px;
	padding: 5px;
}

.centre {
	text-align: center;
}

#login-box .error {
	color: #E85752;
	font-weight: bold;
}
